@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-Mi49Ta7aDZss: 1140px;
  --plasmic-token-content-max-width: var(--token-Mi49Ta7aDZss);
  --token-XK4qGdtXCYug: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-XK4qGdtXCYug);
  --token-9jlTty951Lb-: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-9jlTty951Lb-);
  --token-_vgvUDyel1YD: #92959bd9;
  --plasmic-token-light-label: var(--token-_vgvUDyel1YD);
  --token-J6qPvbFKMzSt: #05050599;
  --plasmic-token-light-secondary: var(--token-J6qPvbFKMzSt);
  --token-KlbW3YeTRnBu: #007aff;
  --plasmic-token-light-blue: var(--token-KlbW3YeTRnBu);
  --token-7BL4xnP8WLl_: #ff3b30;
  --plasmic-token-light-red: var(--token-7BL4xnP8WLl_);
  --token-5V0dssG85tuL: #ffffff;
  --plasmic-token-white: var(--token-5V0dssG85tuL);
  --token-FoGe-MVsNXQ5: #ffffffd9;
  --plasmic-token-dark-label: var(--token-FoGe-MVsNXQ5);
  --token-190qOeMwNz5i: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-190qOeMwNz5i);
  --token-d1_NencK-hwh: #0000001a;
  --plasmic-token-light-quarternary: var(--token-d1_NencK-hwh);
  --token-KWxm8USs_We3: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-KWxm8USs_We3);
  --token-JMzNGlN-3Zph: #32d74b;
  --plasmic-token-dark-green: var(--token-JMzNGlN-3Zph);
  --token-TDOCM1rveRID: #0a84ff;
  --plasmic-token-dark-blue: var(--token-TDOCM1rveRID);
  --token-XdX9krtfPqO3: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-XdX9krtfPqO3);
  --token-mmXR-QsKIG7B: #34c759;
  --plasmic-token-light-green: var(--token-mmXR-QsKIG7B);
  --token-FNSgPA5avwMw: #5856d6;
  --plasmic-token-light-indigo: var(--token-FNSgPA5avwMw);
  --token-q42jk0UnNHh-: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-q42jk0UnNHh-);
  --token-aCCw3C2IeE2c: 1240px;
  --plasmic-token-max-width-navbar: var(--token-aCCw3C2IeE2c);
  --token-6suRHnsQQHGE: var(--token-0MxcvRxDW6tS);
  --plasmic-token-unnamed-style-token-2: var(--token-6suRHnsQQHGE);
  --token-0MxcvRxDW6tS: #eeeeee80;
  --plasmic-token-grey: var(--token-0MxcvRxDW6tS);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-jkpEk-5DMzI5_font-family: "Montserrat", sans-serif;
  --mixin-jkpEk-5DMzI5_font-size: 24px;
  --mixin-jkpEk-5DMzI5_font-weight: 400;
  --mixin-jkpEk-5DMzI5_font-style: normal;
  --mixin-jkpEk-5DMzI5_color: #00000080;
  --mixin-jkpEk-5DMzI5_text-align: center;
  --mixin-jkpEk-5DMzI5_text-transform: none;
  --mixin-jkpEk-5DMzI5_line-height: 150%;
  --mixin-jkpEk-5DMzI5_letter-spacing: normal;
  --mixin-jkpEk-5DMzI5_white-space: pre-wrap;
  --mixin-jkpEk-5DMzI5_user-select: text;
  --mixin-jkpEk-5DMzI5_text-decoration-line: none;
  --mixin-jkpEk-5DMzI5_text-overflow: clip;
  --mixin-AjZKZOpWDIsn_white-space: pre-wrap;
  --mixin-vbhTEnKd4k07_font-family: "Montserrat", sans-serif;
  --mixin-vbhTEnKd4k07_color: #000000;
  --mixin-vbhTEnKd4k07_font-size: 72px;
  --mixin-vbhTEnKd4k07_font-weight: 700;
  --mixin-vbhTEnKd4k07_line-height: 88px;
  --mixin-vbhTEnKd4k07_text-align: center;
  --mixin-vbhTEnKd4k07_white-space: pre-wrap;
  --mixin-4m4ddkkVZKcv_font-family: "Inter", sans-serif;
  --mixin-4m4ddkkVZKcv_color: #000000;
  --mixin-4m4ddkkVZKcv_font-size: 48px;
  --mixin-4m4ddkkVZKcv_font-weight: 700;
  --mixin-4m4ddkkVZKcv_line-height: 59px;
  --mixin-4m4ddkkVZKcv_white-space: pre-wrap;
  --mixin-UjLzCp41wjCN_font-family: "Montserrat", sans-serif;
  --mixin-UjLzCp41wjCN_color: #000000;
  --mixin-UjLzCp41wjCN_font-size: 36px;
  --mixin-UjLzCp41wjCN_font-weight: 700;
  --mixin-UjLzCp41wjCN_line-height: 140%;
  --mixin-UjLzCp41wjCN_white-space: pre-wrap;
  --mixin-16c84YNZdhwb_font-family: "Montserrat", sans-serif;
  --mixin-16c84YNZdhwb_color: #aeaeae;
  --mixin-16c84YNZdhwb_font-size: 18px;
  --mixin-16c84YNZdhwb_font-weight: 500;
  --mixin-16c84YNZdhwb_letter-spacing: -0.3px;
  --mixin-16c84YNZdhwb_line-height: 22px;
  --mixin-16c84YNZdhwb_white-space: pre-wrap;
  --mixin-ueOtZHdpd94T_font-family: "Inter", sans-serif;
  --mixin-ueOtZHdpd94T_color: #000000;
  --mixin-ueOtZHdpd94T_font-size: 16px;
  --mixin-ueOtZHdpd94T_font-weight: 600;
  --mixin-ueOtZHdpd94T_line-height: 1.5;
  --mixin-ueOtZHdpd94T_white-space: pre-wrap;
  --mixin-AUc3P7zSrMHo_border-left-color: #dddddd;
  --mixin-AUc3P7zSrMHo_border-left-style: solid;
  --mixin-AUc3P7zSrMHo_border-left-width: 3px;
  --mixin-AUc3P7zSrMHo_color: #888888;
  --mixin-AUc3P7zSrMHo_padding-left: 10px;
  --mixin-AUc3P7zSrMHo_white-space: pre-wrap;
  --mixin-A6Afm9qVTIjm_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-A6Afm9qVTIjm_border-bottom-color: #dddddd;
  --mixin-A6Afm9qVTIjm_border-bottom-style: solid;
  --mixin-A6Afm9qVTIjm_border-bottom-width: 1px;
  --mixin-A6Afm9qVTIjm_border-left-color: #dddddd;
  --mixin-A6Afm9qVTIjm_border-left-style: solid;
  --mixin-A6Afm9qVTIjm_border-left-width: 1px;
  --mixin-A6Afm9qVTIjm_border-right-color: #dddddd;
  --mixin-A6Afm9qVTIjm_border-right-style: solid;
  --mixin-A6Afm9qVTIjm_border-right-width: 1px;
  --mixin-A6Afm9qVTIjm_border-top-color: #dddddd;
  --mixin-A6Afm9qVTIjm_border-top-style: solid;
  --mixin-A6Afm9qVTIjm_border-top-width: 1px;
  --mixin-A6Afm9qVTIjm_border-bottom-left-radius: 3px;
  --mixin-A6Afm9qVTIjm_border-bottom-right-radius: 3px;
  --mixin-A6Afm9qVTIjm_border-top-left-radius: 3px;
  --mixin-A6Afm9qVTIjm_border-top-right-radius: 3px;
  --mixin-A6Afm9qVTIjm_font-family: "Inconsolata";
  --mixin-A6Afm9qVTIjm_padding-bottom: 1px;
  --mixin-A6Afm9qVTIjm_padding-left: 4px;
  --mixin-A6Afm9qVTIjm_padding-right: 4px;
  --mixin-A6Afm9qVTIjm_padding-top: 1px;
  --mixin-A6Afm9qVTIjm_white-space: pre-wrap;
  --mixin-BLCBiNX582XL_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-BLCBiNX582XL_border-bottom-color: #dddddd;
  --mixin-BLCBiNX582XL_border-bottom-style: solid;
  --mixin-BLCBiNX582XL_border-bottom-width: 1px;
  --mixin-BLCBiNX582XL_border-left-color: #dddddd;
  --mixin-BLCBiNX582XL_border-left-style: solid;
  --mixin-BLCBiNX582XL_border-left-width: 1px;
  --mixin-BLCBiNX582XL_border-right-color: #dddddd;
  --mixin-BLCBiNX582XL_border-right-style: solid;
  --mixin-BLCBiNX582XL_border-right-width: 1px;
  --mixin-BLCBiNX582XL_border-top-color: #dddddd;
  --mixin-BLCBiNX582XL_border-top-style: solid;
  --mixin-BLCBiNX582XL_border-top-width: 1px;
  --mixin-BLCBiNX582XL_border-bottom-left-radius: 3px;
  --mixin-BLCBiNX582XL_border-bottom-right-radius: 3px;
  --mixin-BLCBiNX582XL_border-top-left-radius: 3px;
  --mixin-BLCBiNX582XL_border-top-right-radius: 3px;
  --mixin-BLCBiNX582XL_font-family: "Inconsolata";
  --mixin-BLCBiNX582XL_padding-bottom: 3px;
  --mixin-BLCBiNX582XL_padding-left: 6px;
  --mixin-BLCBiNX582XL_padding-right: 6px;
  --mixin-BLCBiNX582XL_padding-top: 3px;
  --mixin-BLCBiNX582XL_white-space: pre-wrap;
  --mixin-nRFQoFsrIxWb_display: flex;
  --mixin-nRFQoFsrIxWb_flex-direction: column;
  --mixin-nRFQoFsrIxWb_align-items: stretch;
  --mixin-nRFQoFsrIxWb_justify-content: flex-start;
  --mixin-nRFQoFsrIxWb_list-style-position: outside;
  --mixin-nRFQoFsrIxWb_padding-left: 40px;
  --mixin-nRFQoFsrIxWb_position: relative;
  --mixin-nRFQoFsrIxWb_list-style-type: decimal;
  --mixin-nRFQoFsrIxWb_white-space: pre-wrap;
  --mixin-4CpYDZHsGSg1_display: flex;
  --mixin-4CpYDZHsGSg1_flex-direction: column;
  --mixin-4CpYDZHsGSg1_align-items: stretch;
  --mixin-4CpYDZHsGSg1_justify-content: flex-start;
  --mixin-4CpYDZHsGSg1_list-style-position: outside;
  --mixin-4CpYDZHsGSg1_padding-left: 40px;
  --mixin-4CpYDZHsGSg1_position: relative;
  --mixin-4CpYDZHsGSg1_list-style-type: disc;
  --mixin-4CpYDZHsGSg1_white-space: pre-wrap;
  --mixin-F42ghMPH4rER_color: #000000;
  --mixin-F42ghMPH4rER_font-family: "Montserrat", sans-serif;
  --mixin-F42ghMPH4rER_font-size: 72px;
  --mixin-F42ghMPH4rER_line-height: 88px;
  --mixin-F42ghMPH4rER_text-align: center;
  --mixin-F42ghMPH4rER_font-weight: 700;
  --mixin-F42ghMPH4rER_white-space: pre-wrap;
}

@media (max-width: 930px) {
  .plasmic_default_styles {
    --mixin-jkpEk-5DMzI5_font-size: 18px;
    --mixin-jkpEk-5DMzI5_font-weight: 400;
    --mixin-jkpEk-5DMzI5_white-space: pre-wrap;
    --mixin-vbhTEnKd4k07_font-size: 40px;
    --mixin-vbhTEnKd4k07_line-height: 49px;
    --mixin-vbhTEnKd4k07_white-space: pre-wrap;
    --mixin-4m4ddkkVZKcv_font-size: 40px;
    --mixin-4m4ddkkVZKcv_line-height: 49px;
    --mixin-4m4ddkkVZKcv_white-space: pre-wrap;
    --mixin-UjLzCp41wjCN_font-size: 30px;
    --mixin-UjLzCp41wjCN_white-space: pre-wrap;
    --mixin-ueOtZHdpd94T_font-size: 18px;
    --mixin-ueOtZHdpd94T_white-space: pre-wrap;
    --mixin-F42ghMPH4rER_font-size: 40px;
    --mixin-F42ghMPH4rER_line-height: 49px;
    --mixin-F42ghMPH4rER_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-n5nniwOXH4UI_white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-n5nniwOXH4UI_white-space);
  --mixin-cDBlqb9hyYC-_white-space: pre-wrap;
  --plasmic-mixin-h-4_white-space: var(--mixin-cDBlqb9hyYC-_white-space);
  --mixin-CrygeAuDhCUl_box-shadow: 0px 0px 0px 3px #007aff80;
  --plasmic-mixin-focus-shadow_box-shadow: var(--mixin-CrygeAuDhCUl_box-shadow);
  --mixin-CrygeAuDhCUl_white-space: pre-wrap;
  --plasmic-mixin-focus-shadow_white-space: var(
    --mixin-CrygeAuDhCUl_white-space
  );
  --mixin-SLyljgPB3rir_white-space: pre-wrap;
  --plasmic-mixin-10-16-padding_white-space: var(
    --mixin-SLyljgPB3rir_white-space
  );
  --mixin-j5ix7pP7YWNh_white-space: pre-wrap;
  --plasmic-mixin-6-radius_white-space: var(--mixin-j5ix7pP7YWNh_white-space);
  --mixin-clVGdqYFMomg_box-shadow: 0px 0px 0px 4px #0095ff80;
  --plasmic-mixin-focus-outline_box-shadow: var(
    --mixin-clVGdqYFMomg_box-shadow
  );
  --mixin-clVGdqYFMomg_white-space: pre-wrap;
  --plasmic-mixin-focus-outline_white-space: var(
    --mixin-clVGdqYFMomg_white-space
  );
  --mixin-UQqBbM-R6bMJ_box-shadow: 0px 1px 1px 1px #0000001a;
  --plasmic-mixin-extra-small-shadow_box-shadow: var(
    --mixin-UQqBbM-R6bMJ_box-shadow
  );
  --mixin-UQqBbM-R6bMJ_white-space: pre-wrap;
  --plasmic-mixin-extra-small-shadow_white-space: var(
    --mixin-UQqBbM-R6bMJ_white-space
  );
  --mixin-dOXeB96KI64i_white-space: pre-wrap;
  --plasmic-mixin-heading-6_white-space: var(--mixin-dOXeB96KI64i_white-space);
  --mixin-SWAgLGGKOtE1_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-SWAgLGGKOtE1_box-shadow
  );
  --mixin-SWAgLGGKOtE1_white-space: pre-wrap;
  --plasmic-mixin-medium-shadow_white-space: var(
    --mixin-SWAgLGGKOtE1_white-space
  );
  --mixin-IfWnkNrMpXXw_white-space: pre-wrap;
  --plasmic-mixin-heading-2_white-space: var(--mixin-IfWnkNrMpXXw_white-space);
  --mixin-bamwj7D9wji6_white-space: pre-wrap;
  --plasmic-mixin-bg-image_white-space: var(--mixin-bamwj7D9wji6_white-space);
  --mixin-T56qQAdGYibg_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-T56qQAdGYibg_white-space);
  --mixin-nb0rN4Ew7XPx_white-space: pre-wrap;
  --plasmic-mixin-dark-section-background_white-space: var(
    --mixin-nb0rN4Ew7XPx_white-space
  );
  --mixin-qewKWG9GuIMM_white-space: pre-wrap;
  --plasmic-mixin-content-max_white-space: var(
    --mixin-qewKWG9GuIMM_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-jkpEk-5DMzI5_font-family);
  font-size: var(--mixin-jkpEk-5DMzI5_font-size);
  font-weight: var(--mixin-jkpEk-5DMzI5_font-weight);
  font-style: var(--mixin-jkpEk-5DMzI5_font-style);
  color: var(--mixin-jkpEk-5DMzI5_color);
  text-align: var(--mixin-jkpEk-5DMzI5_text-align);
  text-transform: var(--mixin-jkpEk-5DMzI5_text-transform);
  line-height: var(--mixin-jkpEk-5DMzI5_line-height);
  letter-spacing: var(--mixin-jkpEk-5DMzI5_letter-spacing);
  white-space: var(--mixin-jkpEk-5DMzI5_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-vbhTEnKd4k07_font-family);
  color: var(--mixin-vbhTEnKd4k07_color);
  font-size: var(--mixin-vbhTEnKd4k07_font-size);
  font-weight: var(--mixin-vbhTEnKd4k07_font-weight);
  line-height: var(--mixin-vbhTEnKd4k07_line-height);
  text-align: var(--mixin-vbhTEnKd4k07_text-align);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-4m4ddkkVZKcv_font-family);
  color: var(--mixin-4m4ddkkVZKcv_color);
  font-size: var(--mixin-4m4ddkkVZKcv_font-size);
  font-weight: var(--mixin-4m4ddkkVZKcv_font-weight);
  line-height: var(--mixin-4m4ddkkVZKcv_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-UjLzCp41wjCN_font-family);
  color: var(--mixin-UjLzCp41wjCN_color);
  font-size: var(--mixin-UjLzCp41wjCN_font-size);
  font-weight: var(--mixin-UjLzCp41wjCN_font-weight);
  line-height: var(--mixin-UjLzCp41wjCN_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-16c84YNZdhwb_font-family);
  color: var(--mixin-16c84YNZdhwb_color);
  font-size: var(--mixin-16c84YNZdhwb_font-size);
  font-weight: var(--mixin-16c84YNZdhwb_font-weight);
  letter-spacing: var(--mixin-16c84YNZdhwb_letter-spacing);
  line-height: var(--mixin-16c84YNZdhwb_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-ueOtZHdpd94T_font-family);
  color: var(--mixin-ueOtZHdpd94T_color);
  font-size: var(--mixin-ueOtZHdpd94T_font-size);
  font-weight: var(--mixin-ueOtZHdpd94T_font-weight);
  line-height: var(--mixin-ueOtZHdpd94T_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-AUc3P7zSrMHo_color);
  padding-left: var(--mixin-AUc3P7zSrMHo_padding-left);
  border-left: var(--mixin-AUc3P7zSrMHo_border-left-width)
    var(--mixin-AUc3P7zSrMHo_border-left-style)
    var(--mixin-AUc3P7zSrMHo_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-A6Afm9qVTIjm_font-family);
  border-radius: var(--mixin-A6Afm9qVTIjm_border-top-left-radius)
    var(--mixin-A6Afm9qVTIjm_border-top-right-radius)
    var(--mixin-A6Afm9qVTIjm_border-bottom-right-radius)
    var(--mixin-A6Afm9qVTIjm_border-bottom-left-radius);
  padding: var(--mixin-A6Afm9qVTIjm_padding-top)
    var(--mixin-A6Afm9qVTIjm_padding-right)
    var(--mixin-A6Afm9qVTIjm_padding-bottom)
    var(--mixin-A6Afm9qVTIjm_padding-left);
  border-top: var(--mixin-A6Afm9qVTIjm_border-top-width)
    var(--mixin-A6Afm9qVTIjm_border-top-style)
    var(--mixin-A6Afm9qVTIjm_border-top-color);
  border-right: var(--mixin-A6Afm9qVTIjm_border-right-width)
    var(--mixin-A6Afm9qVTIjm_border-right-style)
    var(--mixin-A6Afm9qVTIjm_border-right-color);
  border-bottom: var(--mixin-A6Afm9qVTIjm_border-bottom-width)
    var(--mixin-A6Afm9qVTIjm_border-bottom-style)
    var(--mixin-A6Afm9qVTIjm_border-bottom-color);
  border-left: var(--mixin-A6Afm9qVTIjm_border-left-width)
    var(--mixin-A6Afm9qVTIjm_border-left-style)
    var(--mixin-A6Afm9qVTIjm_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-BLCBiNX582XL_font-family);
  border-radius: var(--mixin-BLCBiNX582XL_border-top-left-radius)
    var(--mixin-BLCBiNX582XL_border-top-right-radius)
    var(--mixin-BLCBiNX582XL_border-bottom-right-radius)
    var(--mixin-BLCBiNX582XL_border-bottom-left-radius);
  padding: var(--mixin-BLCBiNX582XL_padding-top)
    var(--mixin-BLCBiNX582XL_padding-right)
    var(--mixin-BLCBiNX582XL_padding-bottom)
    var(--mixin-BLCBiNX582XL_padding-left);
  border-top: var(--mixin-BLCBiNX582XL_border-top-width)
    var(--mixin-BLCBiNX582XL_border-top-style)
    var(--mixin-BLCBiNX582XL_border-top-color);
  border-right: var(--mixin-BLCBiNX582XL_border-right-width)
    var(--mixin-BLCBiNX582XL_border-right-style)
    var(--mixin-BLCBiNX582XL_border-right-color);
  border-bottom: var(--mixin-BLCBiNX582XL_border-bottom-width)
    var(--mixin-BLCBiNX582XL_border-bottom-style)
    var(--mixin-BLCBiNX582XL_border-bottom-color);
  border-left: var(--mixin-BLCBiNX582XL_border-left-width)
    var(--mixin-BLCBiNX582XL_border-left-style)
    var(--mixin-BLCBiNX582XL_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-nRFQoFsrIxWb_display);
  flex-direction: var(--mixin-nRFQoFsrIxWb_flex-direction);
  align-items: var(--mixin-nRFQoFsrIxWb_align-items);
  justify-content: var(--mixin-nRFQoFsrIxWb_justify-content);
  list-style-position: var(--mixin-nRFQoFsrIxWb_list-style-position);
  padding-left: var(--mixin-nRFQoFsrIxWb_padding-left);
  position: var(--mixin-nRFQoFsrIxWb_position);
  list-style-type: var(--mixin-nRFQoFsrIxWb_list-style-type);
  flex-column-gap: var(--mixin-nRFQoFsrIxWb_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-4CpYDZHsGSg1_display);
  flex-direction: var(--mixin-4CpYDZHsGSg1_flex-direction);
  align-items: var(--mixin-4CpYDZHsGSg1_align-items);
  justify-content: var(--mixin-4CpYDZHsGSg1_justify-content);
  list-style-position: var(--mixin-4CpYDZHsGSg1_list-style-position);
  padding-left: var(--mixin-4CpYDZHsGSg1_padding-left);
  position: var(--mixin-4CpYDZHsGSg1_position);
  list-style-type: var(--mixin-4CpYDZHsGSg1_list-style-type);
  flex-column-gap: var(--mixin-4CpYDZHsGSg1_flex-column-gap);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-F42ghMPH4rER_color);
  font-family: var(--mixin-F42ghMPH4rER_font-family);
  font-size: var(--mixin-F42ghMPH4rER_font-size);
  line-height: var(--mixin-F42ghMPH4rER_line-height);
  text-align: var(--mixin-F42ghMPH4rER_text-align);
  font-weight: var(--mixin-F42ghMPH4rER_font-weight);
}
