.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
.freeBox___6RheK {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: var(--token-aCCw3C2IeE2c);
  padding-top: 0px;
  padding-bottom: 0px;
  height: auto;
  max-height: 50px;
  min-width: 0;
}
.freeBox___6RheK > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___6RheK > :global(.__wab_flex-container) > *,
.freeBox___6RheK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6RheK > :global(.__wab_flex-container) > picture > img,
.freeBox___6RheK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 930px) {
  .freeBox___6RheK {
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 930px;
    display: flex;
    flex-direction: column;
    max-height: 300px;
  }
}
@media (max-width: 930px) {
  .freeBox___6RheK > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox___6RheK > :global(.__wab_flex-container) > *,
  .freeBox___6RheK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___6RheK > :global(.__wab_flex-container) > picture > img,
  .freeBox___6RheK
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.logo:global(.__wab_instance) {
  width: 100%;
  height: auto;
  max-width: 246px;
  max-height: 50px;
  min-width: 0;
}
.freeBox__ytNt {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  align-self: center;
}
.freeBox__ytNt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__ytNt > :global(.__wab_flex-container) > *,
.freeBox__ytNt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ytNt > :global(.__wab_flex-container) > picture > img,
.freeBox__ytNt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (max-width: 930px) {
  .freeBox__ytNt {
    display: flex;
    width: auto;
    max-width: none;
    max-height: 50px;
    margin-top: 26px;
  }
}
.button__qoQ3V:global(.__wab_instance) {
  position: relative;
}
.svg__eawft {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__vs6Ye {
  color: #000000;
  font-weight: 600;
  line-height: 19.5;
}
.svg__nvRfS {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___1SKoe:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 930px) {
  .button___1SKoe:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.svg__oMka2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__kJbu6 {
  color: #00000080;
  font-weight: 600;
  line-height: 19.5;
}
.svg__uyVfD {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__wacMe:global(.__wab_instance) {
  position: relative;
}
.svg__z54J {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__lnU4J {
  color: #00000080;
  font-weight: 600;
  line-height: 19.5;
}
.svg__lVoTw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__zQyct {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__zQyct > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (max-width: 930px) {
  .freeBox__zQyct {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 18px;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .freeBox__zQyct > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox__zQyct > :global(.__wab_flex-container) > *,
  .freeBox__zQyct > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zQyct > :global(.__wab_flex-container) > picture > img,
  .freeBox__zQyct
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.button___7Bfnl:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 930px) {
  .button___7Bfnl:global(.__wab_instance) {
    display: none;
  }
}
.svg__j1N {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__gvo2X {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__h9KNl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__rRqfs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__ofayE {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
